.venv/
rivikiwi/db.sqlite3
rivikiwi/migrations
rivikiwi/rivikiwi/__pycache__/
rivikiwi/products/__pycache__
rivikiwi/products/migrations
Scripts/

rivikiwi/reviews/__pycache__/
rivikiwi/reviews/migrations