{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Избранное — RiviKiwi</title>

    <link rel="icon" href="{% static 'assets/images/icons/rivikiwi-logo.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main-page-style.css' %}">

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            lucide.createIcons();
        });
    </script>

    <script src="{% static 'assets/js/favorites.js' %}" defer></script>
</head>
<body>

<!-- ===== HEADER ===== -->
<header class="site-header">
    <div class="container header-top">
        <a href="{% url "catalog:home" %}" class="logo">
            <span class="logo-text">Rivi<span class="green-text">Kiwi</span></span>
        </a>
    </div>
</header>

<!-- ===== MAIN ===== -->
<main class="container">

    <div class="catalog-header">
        <h2>Избранные товары</h2>
    </div>

    <div class="products-grid">

        <!-- ===== CARD ===== -->
        {% for item in wishlist %}
            {% with product=item.product %}
                {% include 'includes/card.html' %}
            {% endwith %}
        {% endfor %}
        

    </div>
</main>

<!-- ===== FOOTER ===== -->
<footer class="footer">
    <div class="container">
        <div class="grid-4">

            <div class="footer-brand">
                <span class="logo-text-footer">RiviKiwi</span>
                <p class="footer-copy">
                    © 2026 RiviKiwi.<br>Все права защищены.
                </p>
            </div>

            <div>
                <h4 class="footer-title">Компания</h4>
                <ul class="footer-links">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </div>

            <div>
                <h4 class="footer-title">Поддержка</h4>
                <ul class="footer-links">
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Правила</a></li>
                </ul>
            </div>

            <div>
                <h4 class="footer-title">Мы в соцсетях</h4>
                <div class="social-links">
                    <a href="#" class="social-icon"><i data-lucide="instagram"></i></a>
                    <a href="#" class="social-icon"><i data-lucide="facebook"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>

</body>
</html>