{% extends 'layouts/base.html' %}
{% load static %}
{% load products_tags %}

{% block content %}
    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main class="container">
        <!-- Баннер -->
        {% if not user.is_authenticated %}
            <section class="hero-section">
                <div class="hero-content">
                    <h1>Продавайте ненужное,<br><span class="green-text">Покупайте что-то нужное.</span></h1>
                    <p>Быстрая, безопасная и легкая платформа для каждого.</p>
                    <a href={% url "users:login" %} class="btn btn-primary btn-large" >Начать сейчас</button></a>
                </div>
            </section>
        {% endif %}
        <!-- Сетка: Сайдбар + Товары -->
        <div class="main-layout">
            
            <!-- Левая колонка (Фильтры) -->
             <aside class="sidebar">
                <form action="
                    {% if request.GET.q %}
                    {% url 'catalog:search' %}
                    {% elif category %}
                    {% url 'catalog:index' category.slug %}
                    {% else %}
                    {% url 'catalog:home' %}
                    {% endif %}" method="get" id="city-form">
                <div class="filter price-filter">
                    <h3>Цена</h3>
                    {% if request.GET.order_by %}
                        <input type="hidden" name="order_by" value="{{ request.GET.order_by}}">
                    {% endif %}
                    {% if request.GET.city %}
                        <input type="hidden" name="city" value="{{ request.GET.city }}">
                    {% endif %}
                    {% if request.GET.q %}
                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                    {% endif %}
                    <div class="input-block price-inputs">
                        <input type="number" min="0" id="start-price" placeholder="От" oninput="this.value = Math.abs(this.value)"
                    onkeydown="return event.key !== '-'" name="min_price" value="{% if request.GET.min_price %}{{ request.GET.min_price }}{% endif %}">
                        <input type="number" min="0" id="end-price" placeholder="До" oninput="this.value = Math.abs(this.value)" 
                    onkeydown="return event.key !== '-'" name="max_price" value="{% if request.GET.max_price %}{{ request.GET.max_price }}{% endif %}">
                    </div>
                </div>
                <div class="filter">
                    <h3>Рейтинг</h3>
                    <div class="input-block rating-input">
                        <input type="number" min="0" max="5" step="0.1" id="price-from" placeholder="Минимальный рейтинг: 0" onkeydown="return event.key !== '-'" 
                        name="rating" value="{% if request.GET.rating %}{{request.GET.rating}}{% endif %}">
                    </div>
                </div>
                <div class="filter">
                    <div class="has-discount">
                    <h3>Есть скидка</h3><input type="checkbox" name="has_discount" value="on" {% if request.GET.has_discount %}checked{% endif %}>
                    </div>
                </div>
                <div class="accept">
                    <button class="btn btn-primary" type="submit">Применить</button>
                </div>
            </form>
            </aside>

            <!-- Правая колонка (Товары) -->
            <div class="content-area">
                <div class="catalog-header">
                    <h2>{{category.name}}</h2>
                    <button class="sort-button" onclick="toggleSortMenu()">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M7 4V20"/>
                            <path d="M17 19L17 4"/>
                            <path d="M10 6.99998C10 6.99998 7.79053 4.00001 6.99998 4C6.20942 3.99999 4 7 4 7"/>
                            <path d="M20 17C20 17 17.7905 20 17 20C16.2094 20 14 17 14 17"/>
                        </svg>
                        <span id="currentSort">
                            {% if request.GET.order_by == '-creation_date' or not request.GET.order_by %}
                                Сначала новые
                            {% elif request.GET.order_by == 'price' %}
                                Сначала дешевые
                            {% elif request.GET.order_by == '-price' %}
                                Сначала дорогие
                            {% endif %}
                        </span>
                    </button>
                        <div class="sort-dropdown" id="sortDropdown">
                            <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' category.slug %}{% endif %}" method="get" id="sort-form">
                                <input type="hidden" name='order_by' id='order_by_input'>
                                <div class="sort-option{%if request.GET.order_by == '-creation_date' or not request.GET.order_by %}2{% endif %}" onclick="submitSortForm('-creation_date')">
                                    Сначала новые
                                </div>
                                <div class="sort-option{%if request.GET.order_by == 'price' %}2{% endif %}" onclick="submitSortForm('price')">
                                    Сначала дешевые
                                </div>
                                <div class="sort-option{%if request.GET.order_by == '-price' %}2{% endif %}" onclick="submitSortForm('-price')">
                                    Сначала дорогие
                                </div>
                                {% if request.GET.city %}
                                    <input type="hidden" name="city" value="{{ request.GET.city }}">
                                {% endif %}
                                {% if request.GET.rating %}
                                    <input type="hidden" name="rating" value="{{ request.GET.rating }}">
                                {% endif %}
                                {% if request.GET.has_discount %}
                                    <input type="hidden" name="has_discount" value="{{ request.GET.has_discount }}">
                                {% endif %}
                                {% if request.GET.min_price %}
                                    <input type="hidden" name="min_price" value="{{ request.GET.min_price }}">
                                {% endif %}
                                {% if request.GET.max_price %}
                                    <input type="hidden" name="max_price" value="{{ request.GET.max_price }}">
                                {% endif %}
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{ request.GET.q }}">
                                {% endif %}
                            </form>
                        </div>
                </div>
                {% include 'includes/card.html'%}
                {% include 'includes/pagination.html' %}
            </div>
        </div>

    </main>

  {% endblock %}