{% load static %}
{% load account %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'assets/images/icons/rivikiwi-logo.svg' %}" type="image/x-icon">
  <title>Вход</title>
  <link rel="stylesheet" href="{% static 'assets/css/style-authorization.css' %}">
</head>
<body>
    <div class="login-wrapper">
    <div class="login-card">

      <h2 class="title"><strong>Вход</strong></h2>

      <div class="avatar">
        <img src="{% static 'assets/images/icons/bird-log.svg' %}" alt="Птица">
      </div>
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% if request.GET.next %}
          <input type="hidden" name="next" value={{ request.GET.next }}>
        {% endif %}
        <input type="text" placeholder="Никнейм / Номер телефона" name = "username" id = "id_username" value="{{form.username.value|default:''}}">
        {% if form.username.errors %}
        <div>{{form.username.errors}}</div>
        {% endif %}
        <div class="password-field">
          <input type="password" placeholder="Пароль" name = "password" id = "id_password">
          <span class="eye">
              <img src="{% static 'assets/images/icons/closed-eye.svg' %}" alt="Показать пароль">
          </span>
        </div>
        {% if form.password.errors %}
        <div>{{form.password.errors}}</div>
        {% endif %}
        <button type="submit" class="login-btn">Войти</button>
      </form>

      <p class="no-account">Нет профиля? <a href="{% url 'users:registration'%}" class="link">Создайте его!</a></p>
      <p class="no-account">Или <a href="{% url 'users:password_reset' %}" class="link">Сменить пароль</a></p>
      <div class="socials">
        <a href="{% provider_login_url 'google'%}"><img src="{% static 'assets/images/icons/google-icon.svg' %}" alt="Google"></a>
        <a href="{% provider_login_url 'yandex' %}"><img src="{% static 'assets/images/icons/yandex.svg' %}" alt="Yandex"></a>
      </div>

    </div>
  </div>

  <script src="{% static 'assets/js/main-authorization.js' %}"></script>
</body>
</html>