{% extends "layouts/base_password.html" %}
{% load static %}
  {% block title %}Смена пароля{% endblock  %}
  {% block extra_css %}<link rel="stylesheet" href={% static "assets/css/main-page-style.css" %}>{% endblock  %}
  {% block extra_js %}<script src="{% static 'assets/js/main-authorization.js'%}" defer></script>{% endblock  %}
</head>
{% block content %}
<div id="password-change-form" class="registration-card">
          <h2 class="title"><strong>Успешно</strong></h2>
          <p>Ваш пароль изменен</p>
          <a href="{% url 'users:profile' user.username  %}" class="btn btn-primary btn-large">Понятно</a>
</div>
{% endblock  %}