{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
  <link rel="stylesheet" href="{% static 'assets/css/style-authorization.css' %}">
  <link rel="stylesheet" href={% static "assets/css/main-page-style.css" %}>
</head>
<body>
    <div class="registration-wrapper">
      <div id="password-change-form" class="registration-card">
          <h2 class="title"><strong>Успешно</strong></h2>
          <p>Ваш пароль изменен! Теперь при авторизации на нашем сайте используйте именно его!</p>
          <a href="{% url 'users:login' %}" class="btn btn-primary btn-large">Понятно</a>
      </div>
    </div>
</body>
</html>