{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
  <link rel="stylesheet" href="{% static 'assets/css/style-authorization.css' %}">
  <link rel="stylesheet" href={% static "assets/css/main-page-style.css" %}>
</head>
<body>
    <div class="registration-wrapper">
      <div id="password-change-form" class="registration-card">
          <h2 class="title"><strong>Успешно</strong></h2>
          <p>Вам на почту мы отправили сообщение с дальнейшими инструкциями по изменению пароля!</p>
      </div>
    </div>
</body>
</html>