{% extends "layouts/base_password.html" %}
{% load static %}
{% block title %}Электронная почта{% endblock  %}
{% block content %}
<form id="password-change-form" class="registration-card"  method="post">
        {% csrf_token %}
          <h2 class="title"><strong> Восстановление пароля</strong></h2>
          <div class="password-field">
            <input id="id_email" type="text" name="email" placeholder="Адрес электронной почты">
          </div>
        <button type="submit" class="registration-btn">Отправить</button>
        <p class="no-account"><a href="{% url "users:login" %}" class="link">Назад</a></p>
</form>
{% endblock  %}
