{% extends "layouts/base_password.html" %}
{% load static %}

  <meta charset="UTF-8">
  {% block title %}Смена пароля{% endblock  %}
  {% block extra_js %}<script src="{% static 'assets/js/main-registration.js' %}" defer></script>{% endblock  %}
  {% block content %}
  <form id="password-change-form" class="registration-card"  method="post">
        {% csrf_token %}
          <h2 class="title"><strong>Смена пароля</strong></h2>
          <div class="password-field">
            <input id="old_password" type="password" name="old_password" placeholder="Текущий пароль">
            <span class="eye">
                <img src="{% static 'assets/images/icons/closed-eye.svg'%}" alt="Показать пароль">
            </span>
          </div>
          <div class="password-field">
            <input id="new_password1" type="password" name="new_password1" placeholder="Новый пароль">
            <span class="eye">
                <img src="{% static 'assets/images/icons/closed-eye.svg' %}" alt="Показать пароль">
            </span>
          </div>

        <div class="password-field">
          <input id="new_password2" type="password" name="new_password2" placeholder="Подтвердите новый пароль">
          <span class="eye">
              <img src="{% static 'assets/images/icons/closed-eye.svg'%}" alt="Показать пароль">
          </span>
        </div>

        <button type="submit" class="registration-btn">Поменять пароль</button>

        <p class="no-account"><a href="{% url 'users:profile' user.username %}" class="link">Отмена</a></p>

      </form>
  {% endblock  %}