{% extends 'layouts/base.html'%}
{% load static %}

{% block content %}
    <!-- ОСНОВНОЙ КОНТЕНТ -->
    <main class="container">
        
        <!-- Баннер -->
        {% if not user.is_authenticated %}
            <section class="hero-section">
                <div class="hero-content">
                    <h1>Продавайте ненужное,<br><span class="green-text">Покупайте что-то нужное.</span></h1>
                    <p>Быстрая, безопасная и легкая платформа для каждого.</p>
                    <a href={% url "users:login" %} class="btn btn-primary btn-large" >Начать сейчас</button></a>
                </div>
            </section>
        {% endif %}
        
        <!-- Сетка: Сайдбар + Товары -->
        <div class="main-layout">
            
            <!-- Левая колонка (Фильтры) -->
            <aside class="sidebar">
                <h3>Цена</h3>
                <div class="price-inputs">
                    <input type="number" placeholder="От">
                    <input type="number" placeholder="До">
                </div>
            </aside>

            <!-- Правая колонка (Товары) -->
            <div class="content-area">
                <div class="catalog-header">
                    <h2>Рекомендации для Вас</h2>
                    <button class="sort-button" onclick="toggleSortMenu()">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#141B34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M7 4V20"/>
                            <path d="M17 19L17 4"/>
                            <path d="M10 6.99998C10 6.99998 7.79053 4.00001 6.99998 4C6.20942 3.99999 4 7 4 7"/>
                            <path d="M20 17C20 17 17.7905 20 17 20C16.2094 20 14 17 14 17"/>
                        </svg>
                        <span id="currentSort">Сначала новые</span>
                    </button>
                    <div class="sort-dropdown" id="sortDropdown">
                        <div class="sort-option" onclick="selectSort('Сначала новые')">Сначала новые</div>
                        <div class="sort-option" onclick="selectSort('Сначала дешевые')">Сначала дешевые</div>
                        <div class="sort-option"onclick="selectSort('Сначала дорогие')">Сначала дорогие</div>
                    </div>
                </div>
                {% include 'layouts/card.html'%}
            </div>
        </div>
    </main>
{% endblock %}